@media screen and (max-width:991px){

    .h3{
        font-size: 1.2rem;
    }
    .nav-toggle{
        display:block;
        margin-right: 20px;
    }

    .nav-links{
        display:none;
     }
    .examples-area{
        gap:20px;
    }

    .example-card{
        width:calc(50% - 10px);
        height:200px;
    }

    .Get-started{
        width:100%;
        text-align:center;
        margin-inline:0;
    }

    .cta-section{
        padding-block: 80px;
    }

    .logos{

    }
    .features-section{
        background-size:150%;
    }
    .features-card{
        margin-top:50px;
    }
    
    .card-tect{
        font-size:1rem;
    }
    
    
}



@media screen and (max-width:767px){

.header-section
{
    flex-direction:column-reverse;
    /* max-width:100vw; */
}

.header-left{
 max-width:100vw;
 text-align:center;
}

.primary-button{
    width:100%;
}

}
